.navbar {
  height: 100vh;
  width: 300px;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-body);
  border-right: 1px solid var(--mantine-color-default-border);
}

.navbarMain {
  flex: 1;
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
  border-bottom: 1px solid var(--mantine-color-default-border);
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: 1px solid var(--mantine-color-default-border);
}

.link {
  display: flex;
  width: 100%;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-text);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  border: 0;
  text-align: left;

  @mixin hover {
    background-color: var(--mantine-color-default-hover);
    color: var(--mantine-color-text);

    .linkIcon {
      color: var(--mantine-color-text);
    }
  }

  &[aria-current="page"] {
    &,
    &:hover {
      background-color: var(--mantine-color-primary-5);
      color: var(--mantine-primary-color-light-color);

      .linkIcon {
        color: var(--mantine-primary-color-light-color);
      }
    }
  }
}

.linkIcon {
  color: var(--mantine-color-dimmed);
  margin-right: var(--mantine-spacing-sm);
  width: 25px;
  height: 25px;
}
